body {
  font-family: Geneva;
  text-align: center;
  background-image: url(https://4.bp.blogspot.com/-Ij_a30-kAzM/WeUbPFIeJRI/AAAAAAAEhrY/hbN6bCBbcFIfn84uaG41ZQNLv9pRfVfqACLcBGAs/s1600/fruits-and-vegetables-wallpaper-2.jpg);
  color: #000;
  font-size: 2rem;

}

